h1 {
    font-size: 30px;
    margin-top: -30px;
    color: white;
}
a {
    color: white;
}
a:hover {
    font-size: 20px;
    color: #64B5F6;
}
body {
    background-color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    color: mintcream;
    text-transform: uppercase;
    margin-top: 48px;
    margin-bottom: 12px;
    font-size: 16px;
    letter-spacing: 4.8px;
}

.keyboard {
    display: flex;
    flex-direction: column;
}

.row {
    list-style: none;
    display: flex;
}

li {
    height: 48px;
    width: 48px;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    line-height: 48px;
    letter-spacing: 1px;
    margin: 6px;
    transition: 0.3s;
    text-align: center;
    font-size: 16px;
}

#tab {
    width: 80px;
}

#caps {
    width: 96px;
}

#left-shift, #right-shift {
    width: 128px;
}

#enter, #back {
    width: 80px;
}

.pinky {
    background-color: crimson;
    border: 2px solid crimson;
}

.pinky.selected {
    color: crimson;
}

.ring {
    background-color: coral;
    border: 2px solid coral;
}

.ring.selected {
    color: coral;
}

.middle {
    background-color: darkorange;
    border: 2px solid darkorange;
}

.middle.selected {
    color: darkorange;
}

.pointer1st {
    background-color: gold;
    border: 2px solid gold;
}

.pointer1st.selected {
    color: gold;
}

.pointer2nd {
    background-color: khaki;
    border: 2px solid khaki;
}

.pointer2nd.selected {
    color: khaki;
}

.fill-out-key {
    background-color: slategrey;
    border: 2px solid slategrey;
}

.selected {
    background-color: transparent;
    animation: vibrate-1 0.3s linear infinite both;
}

.hit {
    animation: hit 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes hit {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes vibrate-1 {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}